@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --q-primary: #99D98C;
    --q-secondary: #26A69A;
    --q-accent: #9C27B0;
    --q-positive: #21BA45;
    --q-negative: #C10015;
    --q-info: #31CCEC;
    --q-warning: #F2C037;
    --q-dark: #1d1d1d;
    --q-dark-page: #121212;
  }

  * {
    font-family: 'Barlow', sans-serif;
  }