/* Nunito - 300 Light */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/nunito-v32-latin-300.woff2") format("woff2");
}

/* Nunito - 300 Light Italic */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/nunito-v32-latin-300italic.woff2") format("woff2");
}

/* Nunito - 400 Regular */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/nunito-v32-latin-regular.woff2") format("woff2");
}

/* Nunito - 400 Italic */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/nunito-v32-latin-italic.woff2") format("woff2");
}

/* Nunito - 500 Medium */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/nunito/nunito-v32-latin-500.woff2") format("woff2");
}

/* Nunito - 500 Medium Italic */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/nunito/nunito-v32-latin-500italic.woff2") format("woff2");
}

/* Nunito - 700 Bold */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/nunito-v32-latin-700.woff2") format("woff2");
}

/* Nunito - 700 Bold Italic */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/nunito-v32-latin-700italic.woff2") format("woff2");
}

/* Yeseva One - Regular */
@font-face {
  font-display: swap;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/yeseva-one/yeseva-one-v24-latin-regular.woff2")
    format("woff2");
}
