@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "mixins.scss";
@import "masthead.scss";
@import "showcase.scss";

@font-face {
  font-family: LEIXO;
  src: url(../../public/LEIXO-DEMO.woff);
}

.jumbotron {
  position: relative;
  background-image: url("../../public/images/edition-2022/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  //   background-size: cover;
}

.jumbotron>.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #598850;
  opacity: 60%;
  z-index: 1;
}

.jumbotron>.container {
  position: relative;
  z-index: 2;
}

.section-title {
  letter-spacing: 3px;
}

.carousel-inner {
  max-height: 40rem;
}

.project-table {
  font-size: 15px;
}


.sponsor-logo {
  max-width: 80%;
  margin: 2em;
}

.organizer-logo {
  max-width: 80%;
  margin: 2em;
}

.alert {
  border-radius: 0;
}

.table {
  border-radius: 0;
}

.justified-text {
  text-align: justify;
}

.github-box {
  display: block;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.github-box:hover {
  background-color: #f0f0f0;
}

.github-logo {
  width: 70px; /* Adjust image size */
  height: auto;
  margin-bottom: 10px;
}

.github-box p {
  font-size: 1.2em; /* Adjust font size */
}

.carousel-inner .row {
  margin: 0; /* Remove default margin for rows */
}
.carousel-inner {
  background-color: #fff; /* Set a uniform background color */
}

.carousel-item {
  background-color: #fff; /* Ensure each item has the same background color */
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent; /* Remove background color from controls */
  opacity: 0.2; /* Ensure controls are visible */
}


.navbar {
  display: flex;
  justify-content: space-between; /* Ensures even spacing */
  align-items: center;
  flex-wrap: nowrap; /* Prevents wrapping */
}

.navbar a {
  font-size: 16px; /* Adjust font size if necessary */
  white-space: nowrap; /* Prevents text from wrapping */
}

.nav-links a {
   flex: 1; /* Allows each link to grow and share space equally */
}

