{% extends 'public/layout.njk' %}
{% block content %}
    <!-- FAQ -->
    <section id="faq">
        <h1 class="section-title">Preguntas frecuentes</h1>
        <div class="container">
            <div class="col-xl-10 mx-auto">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="mb-0">
                                <button class="btn btn-link faq-link" type="button" data-target="collapseOne">¿Qué es un PyCamp?</button>
                            </h2>
                        </div>
                        <div id="collapseOne"
                             class="collapse show"
                             aria-labelledby="headingOne"
                             data-parent="#faq">
                            <div class="card-body">
                                El PyCamp es un evento
                                <strong>sin fines de lucro</strong>
                                que consiste en apoderarse de un lugar (como puede ser una Casa Rural) en el que un grupo de programadores (20 a 30
                                personas) nos juntamos a programar y divertirnos durante 4 días completos. Los asistentes proponen los proyectos Open
                                Source en los que desean trabajar durante estos días (o alguna idea un poco loca que quieran implementar) y el resto se
                                anota para colaborar y trabajar en esos proyectos. Así, se determinan diferentes slots de tiempo para cada proyecto
                                durante todos los días y cada programador trabaja, dentro de los slots asignados, en los proyectos que más le han
                                llamado la atención. Esta dinámica se mantiene durante los 4 días que dura el evento, trabajando mañana, tarde y hasta
                                la noche, si lo desean. Durante los 4 días que dura el evento, todos los asistentes desayunan, almuerzan, cenan y
                                duermen en el lugar que se haya alquilado. Esto hace que sea un evento sin ninguna distracción, que compartamos mucho
                                tiempo en comunidad y colaboremos programando en lo que más nos gusta. ¡El PyCamp es un evento que genera un ambiente
                                colaborativo y de comunidad hermoso!
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link faq-link"
                                        type="button"
                                        data-target="collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">¿Qué llevo?</button>
                            </h2>
                        </div>
                        <div id="collapseTwo"
                             class="collapse"
                             aria-labelledby="headingTwo"
                             data-parent="#faq">
                            <div class="card-body">{% include "public/what_to_bring_content.html" %}</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link faq-link"
                                        type="button"
                                        data-target="collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    ¿Hay ayuda económica para pagar la entrada?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree"
                             class="collapse"
                             aria-labelledby="headingThree"
                             data-parent="#faq">
                            <div class="card-body">
                                Somos conscientes de la importancia de equidad y diversidad en tecnología. Gracias al apoyo de nuestros patrocinadores
                                podemos ayudarte con becas.
                                <a target="_blank"
                                   href="https://docs.google.com/forms/d/e/1FAIpQLSd9exVI0POXRq2WW3Wc8gzcrGy8F106MNzXLgQc9vVphb7YiA/viewform">
                                    Aplica a través de este formulario</a>.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link faq-link"
                                            type="button"
                                            data-target="collapseFour">¿A qué público está dirigido?</button>
                                </h2>
                            </div>
                            <div id="collapseFour"
                                 class="collapse"
                                 aria-labelledby="headingFour"
                                 data-parent="#faq">
                                <div class="card-body">
                                    El PyCamp es un evento inclusivo donde se potencian las habilidades de programación desde la experiencia y práctica real
                                    apta para todos los niveles de conocimiento. Si bien, en principio, no hay talleres propuestos para aprender a
                                    programar, con un conocimiento básico de programación y Python se puede aprovechar al máximo. ¿Por qué? Porque vas a
                                    tener la oportunidad de trabajar codo a codo con gente que tiene años de experiencia en el tema y poder compartir la
                                    resolución de un problema en grupo, entender cómo piensan otros programadores y cómo atacan el problema de diferentes
                                    formas. ¿Crees que no tienes el conocimiento suficiente para asistir al evento? ¡No te preocupes, súmate que la vas a
                                    pasar genial y vas a aprender un montón de cosas!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block extra_footer %}<script type="module" src="../src/faq.js"></script>{% endblock %}
