{% extends 'layout.njk' %}

{% block content %}
    <section id="buy-now">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto text-center">
              <img
                src="images/pycamp-logo2.png"
                style="width: 100%; height: auto;"
                alt="PyCamp logo con dibujos"
              />
              <h2 style="margin-top: 2em;">
                ¡Se viene el PyCamp España 2024!
              </h2>
            </div>
          </div>
          <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="ml-embedded" data-form="Z03U8c"></div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}

{% block extra_footer %}
<script src="../src/index.js"></script>
{% endblock %}
