{% extends 'layout.njk' %}

{% block extra_head %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
{% endblock %}

{% block content %}
    <section id="buy-now">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto text-center">
              <img
                src="images/pycamp-logo2.png"
                style="width: 100%; height: auto;"
                alt="PyCamp logo con dibujos"
              />
              <h2>
                15 al 18 de Abril, 2022
              </h2>
              <h3>4 días, 3 noches (<em>pensión completa</em>)</h3>
              <h3 style="font-weight: bold;">Precio: €220</h3>
              <form>
                <input
                  type="button"
                  value="Comprar entrada"
                  onclick="window.open
                    ('https://docs.google.com/forms/d/1h1tosBPXLYtCeapabTdslj2vU59Ih3y1Z5XEwS_UXCI/viewform','_blank')"
                  class="btn btn-primary btn-lg my-4"
                />
              </form>
            </div>
          </div>
          <div class="row">
          <div class="col-xl-9 mx-auto">
            <h3 class="mb-5 text-center">
              ¡Suscríbete para recibir las últimas novedades!
            </h3>
          </div>
          <div id="mc_embed_signup" class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form
              action="https://gmail.us20.list-manage.com/subscribe/post?u=14411abdd5b5c38809a459da7&amp;id=ef7898fbc2"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll" class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="form-control form-control-lg"
                    id="mce-EMAIL"
                    placeholder="Ingresa tu email..."
                    required
                  />

                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px;"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_14411abdd5b5c38809a459da7_ef7898fbc2"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <input
                    type="submit"
                    value="Enviar!"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="btn btn-block btn-lg btn-primary"
                  />
                </div>
                <div class="col-12 mb-2 ">
                  <div
                    id="mergeRow-gdpr"
                    class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group"
                  >
                    <div class="content__gdpr mt-3">
                      <h4>Permisos de marketing</h4>
                      <p>
                        Por favor, elige de que forma quieres ser contactado por
                        PyCamp España:
                      </p>
                      <fieldset
                        class="pl-4 mc_fieldset gdprRequired mc-field-group"
                        name="interestgroup_field"
                      >
                        <label class="checkbox subfield" for="gdpr_32461"
                          ><input
                            type="checkbox"
                            id="gdpr_32461"
                            name="gdpr[32461]"
                            value="Y"
                            class="av-checkbox gdpr form-check-input"
                          /><span>Email</span>
                        </label>
                      </fieldset>
                      <p>
                        <small>
                          Puedes remover tu suscripción cuando lo desees
                          haciendo click en el footer de nuestros emails.
                        </small>
                      </p>
                    </div>
                    <div class="content__gdprLegal">
                      <p>
                        <small>
                          Utilizamos Mailchimp como nuestra plataforma de
                          marketing. Al hacer click en "Enviar", usted reconoce
                          que su información sera enviada a Mailchimp para ser
                          procesada.
                        </small>
                      </p>
                      <p>
                        <small>
                          <a
                            href="https://mailchimp.com/legal/"
                            target="_blank"
                          >
                            Click aquí para más información sobre las prácticas
                            de privacidad Mailchimp
                          </a>
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </section>
    <section id="inscription">
      <div class="container-fluid py-5 mb-3">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white mb-4">
            <!-- Carousel of images -->
            <div
              id="carouselLocation"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="./images/location/house.jpg"
                    class="d-block w-100"
                    alt="Casa"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/chairs.jpg"
                    class="d-block w-100"
                    alt="Sillas"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/coding_area.jpg"
                    class="d-block w-100"
                    alt="Lugar de programación"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/coding_area_1.jpg"
                    class="d-block w-100"
                    alt="Lugar de programación"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/coding_area_2.jpg"
                    class="d-block w-100"
                    alt="Lugar de programación"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/entrance.jpg"
                    class="d-block w-100"
                    alt="Entrada"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/grill.jpg"
                    class="d-block w-100"
                    alt="Parilla"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/landscape.jpg"
                    class="d-block w-100"
                    alt="Paisaje"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/room.jpg"
                    class="d-block w-100"
                    alt="Habitaciones"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/green_area.jpg"
                    class="d-block w-100"
                    alt="Habitaciones"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./images/location/house_1.jpg"
                    class="d-block w-100"
                    alt="Casa"
                  />
                </div>
              </div>

              <a
                class="carousel-control-prev"
                href="#carouselLocation"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselLocation"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1 px-5 ">
            <h1 class="text-primary text-center section-title pb-4">
              Inscripción
            </h1>
            <p>
              PyCamp España, un fin de semana que incluye 4 días y 3 noches con
              pensión completa (desayuno, comida y cena) en
              Girona, España. Podrás programar las horas que quieras en ese
              proyecto o idea que querías codificar hace tanto tiempo y que no
              encontrabas el momento o lugar perfecto para hacerlo.
            </p>

            <p class="lead">
              Puedes inscribirte para comprar tu entrada siguiendo estos pasos:
            </p>
            <ol>
              <li>
                Haz click en el botón "Comprar Entrada"
              </li>
              <li>
                Completa el formulario
              </li>
              <li>
                Espera un email de confirmación de tu reserva con los datos para
                el pago
              </li>
            </ol>

            <p class="lead">
              La entrada incluye:
            </p>

            <ul>
              <li>
                Alojamiento libre de COVID-19 (ver <a href="#faq">"Preguntas Frecuentes"</a>) durante 4 días y 3 noches
              </li>
              <li>
                Pensión completa: desayuno, comida y cena
              </li>
              <li>
                Coffee break en intermedio de comidas: café, té, agua y algunas
                frutas
              </li>
              <li>
                Acceso a áreas verdes donde podrás relajarte o programar
              </li>
              <li>
                Diversión: karaoke de charlas, juegos de mesa, ping pong y todo
                hobby que quieras compartir con nosotros
              </li>
              <li>
                Auto-tests de antígenos COVID-19 para todos los participantes (ver <a href="#faq">"Preguntas Frecuentes"</a>)
              </li>
            </ul>
            <em>
              El lugar será de uso exclusivo para los asistentes al evento.
            </em>

            <p class="lead mt-4">English speakers are welcome</p>
            <p>
              We apologize for the lack of translation, but we believe Google translation works quite well
              (<a href="https://pycamp-es.translate.goog/?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=es&_x_tr_pto=nui">see translated version</a>).
              If you have any question don't hesitate in contact us! We are happy to help you and have you enjoying this event with us!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="venue" class="bg-light" style="padding-top: 75px;">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-7">
            <h1 class="text-primary text-center py-4 section-title">
              Venue
            </h1>
            <div>
              <dl>
                <dt>Nombre</dt>
                <dd>
                  <a href="http://www.lamassana.cat/">El Bosc de la Massana</a>
                </dd>
                <dt>Dirección</dt>
                <dd>
                  Cami dels Carlins S/N, 17180, Vilablareix, Girona, España
                </dd>
                <dt>Descripción</dt>
                <dd>
                  La casa de colonia se encuentra ubicada entre bosques,
                  terrenos de cultivo y frutales, a 5 km de Girona, dentro del
                  término municipal de Vilablareix. Un espacio de naturaleza y
                  quietud, una burbuja de aire, idónea para disfrutar de
                  múltiples actividades y encuentros al aire libre, y al mismo
                  tiempo, contar con todas las ventajas y servicios que
                  proporciona una gran ciudad. ¡Porque cerca de la ciudad
                  también hay tranquilidad!
                </dd>
                <dt>Capacidad máxima</dt>
                <dd>30 personas</dd>
                <dt>Total de habitaciones</dt>
                <dd>
                  <ul>
                    <li>5 Habitaciones</li>

                    <li>En la planta baja 3 habitaciones</li>
                    <li>En la planta superior 2 habitaciones</li>
                  </ul>
                </dd>
                <dt>Comidas</dt>
                <dd>
                  El menú está a cargo del venue incluyendo desayuno, comida y
                  cena (el primer día no incluye desayuno y el último día no
                  incluye cena)
                </dd>
              </dl>

              <h3 id="como-llegar" class="my-4 text-center">¿Cómo llegar?</h3>
              <p>Recopilamos un poco de información para llegar desde Barcelona al Bosc de La Massana. El tiempo de viaje es de entre 1h 30m y 2h 30m aproximadamente y consiste de 3 tramos.</p>

              <p class="lead">Entre Barcelona y Girona</p>
              <ol>
                <li>Tren rápido AVANT (AVE): 18€ -- ~40 minutos de viaje. Horarios y reserva en <a href="http://www.renfe.com">Renfe</a>.</li>
                <li>Tren Regional: 8.40€ -- ~1h 30m de viaje. Horarios en <a href="http://www.renfe.com/CA/viajeros/index.html">Renfe</a>. El billete se compra en la estación.</li>
                <li>Tren Media Distancia: 11.25€ -- ~1h 20m de viaje. Horarios en <a href="http://www.renfe.com/CA/viajeros/index.html">Renfe</a>. Tiene más frecuencia que el Tren Regional. El billete se compra en la estación.</li>
              </ol>
              <p class="text-center"><small>Todos los trenes salen desde <b>Estació Sants</b> y te dejan en la estación <b>Girona</b>.</small></p>

              <p class="lead">Entre Girona y Salt</p>
              <p><b>Autobús L4</b> entre parada <b>Plaça Marquès de Camps</b> (Girona) y parada <b>Espai Gironès</b> (Salt) (1.4€ -- ~15 minutos de viaje). Solo funciona de Lunes a Sábados. Horarios en <a href="https://www.girona.cat/bus/docs/L4.pdf">Adjuntament Girona</a>. El billete se compra directamente en el autobús.</p>

              <p class="lead">Entre Salt y El Bosc de la Massana</p>

              <p>Caminar 1.4 km -- ~18 min.</p>

              <form class="text-center">
                <input
                  type="button"
                  value="Ver Mapa"
                  onclick="window.open
                  ('https://goo.gl/maps/E6C7zhpP3RwCAV1CA','_blank')"
                  class="btn btn-primary btn-lg my-4"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="projects" class="text-center" style="padding-top: 50px;">
      <div class="container py-4">
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-8">
            <h1
              class="text-primary text-center py-4 section-title section-title"
            >
              Proyectos
            </h1>
            <div>
              <div>
                <p>
                  En cada PyCamp se proponen una serie de proyectos o ideas por
                  parte de los participantes, y luego durante el primer día del
                  evento se realiza el cronograma de acuerdo al interés de los
                  asistentes. Así, durante el fin de semana podemos contribuir
                  en los proyectos que nos interesen.
                </p>
              </div>
              <div>
                <form>
                  <input
                    type="button"
                    value="Proponer un proyecto o idea"
                    onclick="window.open
                    ('https://docs.google.com/forms/d/1-ume0VyUNfAd0H_n4636RuedWBjOFNxE-p2g0EipHBA/viewform','_blank')"
                    class="btn btn-primary btn-lg my-4"
                  />
                </form>
              </div>

              <h3 class="my-4">
                ¿Aún no sabes qué proyecto o idea proponer?
              </h3>
              <div>
                <p>
                  Te inspiramos con algunos proyectos que ya se han propuesto y
                  te compartimos algunos de los que han surgido de las
                  diferentes ediciones realizadas del PyCamp en Argentina:
                  <a
                    href="http://www.python.org.ar/wiki/PyCamp/2019/actividades"
                    target="_blank"
                    ><b>2019</b></a
                  >
                  y
                  <a
                    href="http://www.python.org.ar/wiki/PyCamp/2018/actividades"
                    target="_blank"
                    ><b>2018</b></a
                  >
                  (¡llevan 10 ediciones!) Puedes conocer más proyectos en la
                  sección de
                  <a
                    href="previous_editions.njk"
                    ><b>ediciones anteriores</b></a
                  >.
                </p>
              </div>
            </div>
          </div>
          <!-- Take a look at GSheetReader because Google turned off APIv3 -->
          <!-- https://cloud.google.com/blog/products/g-suite/migrate-your-apps-use-latest-sheets-api -->
          <div class="col-12">
            <h2 class="mt-5 mb-5">
              Proyectos o ideas para PyCamp España 2022
            </h2>
            <div class="table-responsive">
              <table class="table table-striped project-table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Requerimientos</th>
                    <th scope="col">Nivel</th>
                  </tr>
                </thead>
                <tbody id="project-rows"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="what-to-bring" class="bg-light" style="padding-top: 50px;">
      <div class="container py-4">
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-7">
            <h1 class="text-primary text-center py-4 section-title">
              ¿Qué llevo?
            </h1>
            <div>
              <p>Como ya sabrás, el PyCamp es un evento desestructurado.
                Lo que buscamos es poder aprender muchas cosas que nos gustan,
                en un ambiente relajado y rodeados por amigos de la comunidad.</p>

              <p>Por eso, puedes llevar lo que quieras que consideres necesario para pasarla bien y divertirte.
                Desde tu ordenador portátil para poder trabajar en los proyectos, hasta juegos de mesa para montar una partida por las noches,
                incluyendo instrumentos musicales para ponerle un poco de buena onda con música.
                ¡O incluso una impresora 3D para tener una sesión de makers! --tú sabes mejor que nosotros qué llevar, ¡vamos!</p>

                <p>Aquí te comentamos lo que creemos mínimo y escencial para poder disfrutar del PyCamp España sin problemas.</p>
              <p class="lead">Para programar</p>
              <ul>
                <li>
                  <b>Ordenador:</b> intenta instalar y actualizar las
                  dependencias y requisitos de los proyectos en los que quieras
                  trabajar antes de venir para no colapsar la wifi del evento
                </li>
                <li><b>Extensores de corriente</b></li>
                <li><b>Adaptadores</b></li>
              </ul>
              <p class="lead"><b>Para las actividades durante el evento</p>
              <ul>
                <li>
                  <b>Ropa cómoda</b> para programar día y noche, en los espacios
                  cerrados, como así también en los espacios al aire libre
                </li>
                <li><b>Calzado cómodo</b></li>
                <li>
                  <b>Productos de higiene personal:</b> toalla, cepillo de
                  dientes, crema dental, shampoo y jabón; entre otros
                </li>
                <li><b>Protector solar</b></li>
                <li><b>Repelente de mosquitos</b></li>
              </ul>
              <p class="lead"><b>Al momento de dormir</p>
              <ul>
                <li><b>Tapones para oídos</b></li>
                <li>
                  <b>El venue provee toda la ropa de cama</b> (sábana, cobija,
                  almohada), pero si prefieres, puedes llevar tus propias cosas
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Organizers -->
    <section id="organizers" style="padding-top: 50px;">
      <div class="container py-4">
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-7 text-center">
            <h1 class="text-primary py-4 section-title">
              Organizadores
            </h1>

            <a href="https://es.python.org/" target="_blank">
              <img class="organizer-logo" src="images/pythonespana-logo.png" alt="Python España">
            </a>


            <h2 class="text-primary py-4 section-title">
              Colaboradores
            </h2>
            <a href="https://argentinaenpython.com/" target="_blank">
              <img class="organizer-logo" src="images/argentinaenpython-logo.png" alt="Argentina en Python">
            </a>
            <a href="https://pythongirona.cat/" target="_blank">
              <img class="organizer-logo" src="images/pythongirona-logo.png" alt="Python Girona">
            </a>
            <a href="https://www.python.org.ar/" target="_blank">
              <img class="organizer-logo" src="images/pythonargentina-logo.png" alt="Python Argentina">
            </a>
            <a href="https://www.meetup.com/es/Amsterdam-Python-Meetup-Group/" target="_blank">
              <img class="organizer-logo" src="images/pythonamsterdam-logo.png" alt="Python Amsterdam">
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Sponsors -->
    <section id="sponsors" class="bg-light" style="padding-top: 50px;">
      <div class="container py-4">
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-7 text-center">
            <h1 class="text-primary py-4 section-title">
              Sponsors
            </h1>

            <a href="https://www.travelperk.com/" target="_blank">
              <img class="sponsor-logo" src="images/travelperk-logo.png" alt="TravelPerk" />
            </a>
            <a href="https://www.holaluz.com/" target="_blank">
              <img class="sponsor-logo" src="images/holaluz-logo.png" alt="HolaLuz" />
            </a>
            <a href="https://www.codesyntax.com/es" target="_blank">
              <img class="sponsor-logo" src="images/codesyntax-logo.png" alt="CodeSyntax" />
            </a>
            <a href="https://www.manning.com/" target="_blank">
              <img class="sponsor-logo" src="images/manning-logo.png" alt="Manning Publications" />
            </a>
            <a href="https://www.python.org/psf/" target="_blank">
              <img class="sponsor-logo" src="images/psf-logo.png" alt="Python Software Foundation" />
            </a>
            <a href="https://mule.to/p2ng" target="_blank">
              <img class="sponsor-logo" src="images/sticker-mule-logo.png" alt="Sticker Mule" />
            </a>
            <a href="https://4geeksacademy.com/es/inicio?lang=es" target="_blank">
              <img class="sponsor-logo" src="images/4-geeks-logo.png" alt="4Geeks Academy" />
            </a>

            <p style="margin-top: 50px; font-size: smaller;">
              Si tu empresa quiere apoyar el PyCamp España, puede hacerlo ayudándonos con los coffee breaks, el transporte al venue,
              las camisetas, el alquiler de un proyector o bien otorgando becas de diversidad. Contáctanos a <a href="mailto:pycampes@gmail.com">pycampes@gmail.com</a>.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ -->
    <section id="faq" style="padding-top: 50px;">
      <div class="container py-5 ">
        <div class="row">
          <div class="col-xl-12 mx-auto text-center mb-3">
            <h1 class="text-primary text-center py-4 section-title">Preguntas Frecuentes</h1>
          </div>
          <div class="col-xl-12 mx-auto">
            <div class="accordion">
              <div class="card">
                <div class="card-header">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link faq-link"
                      type="button"
                      data-target="collapseOne"
                    >
                      ¿Qué es un PyCamp?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#faq"
                >
                  <div class="card-body">
                    El PyCamp es un evento
                    <strong>sin fines de lucro</strong> que consiste en
                    apoderarse de un lugar (como puede ser una Casa Rural) en el
                    que un grupo de programadores (20 a 30 personas) nos
                    juntamos a programar y divertirnos durante 4 días completos.
                    Los asistentes proponen los proyectos Open Source en los que
                    desean trabajar durante estos días (o alguna idea un poco
                    loca que quieran implementar) y el resto se anota para
                    colaborar y trabajar en esos proyectos. Así, se determinan
                    diferentes slots de tiempo para cada proyecto durante todos
                    los días y cada programador trabaja, dentro de los slots
                    asignados, en los proyectos que más le han llamado la
                    atención. Esta dinámica se mantiene durante los 4 días que
                    dura el evento, trabajando mañana, tarde y hasta la noche,
                    si lo desean. Durante los 4 días que dura el evento, todos
                    los asistentes desayunan, almuerzan, cenan y duermen en el
                    lugar que se haya alquilado. Esto hace que sea un evento sin
                    ninguna distracción, que compartamos mucho tiempo en
                    comunidad y colaboremos programando en lo que más nos gusta.
                    ¡El PyCamp es un evento que genera un ambiente colaborativo
                    y de comunidad hermoso!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link faq-link"
                      type="button"
                      data-target="collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      ¿Hay ayuda económica para pagar la entrada? 
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#faq"
                >
                  <div class="card-body">
                  Somos conscientes de la importancia de equidad y diversidad en tecnología. 
                  Gracias al apoyo de nuestros patrocinadores podemos ayudarte con becas.
                  Aplica a través de este formulario: 
                  <a target="_blank" href="https://forms.gle/Y1XpAEXmGNmbf2DX7">https://forms.gle/Y1XpAEXmGNmbf2DX7</a>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link faq-link"
                      type="button"
                      data-target="collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      ¿Por qué es interesante hacerlo en España?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#faq"
                >
                  <div class="card-body">
                    En las últimas 3 ediciones de PyCon España hemos notado en
                    los asistentes el espíritu de trabajo en equipo. Esto ha
                    quedado demostrado en todos las hackatones que se han
                    organizado en el marco de PyCon donde se han obtenido
                    resultados muy interesantes en pocos días, aun con retos
                    complicados. Es por esto que creemos que este evento
                    funcionaría muy bien en la comunidad de Python España,
                    brindando la posibilidad de potencializar los aportes a
                    proyectos nuevos y existentes.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link faq-link"
                      type="button"
                      data-target="collapseFour"
                    >
                      ¿A qué público está dirigido?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-parent="#faq"
                >
                  <div class="card-body">
                    El PyCamp es un evento inclusivo donde se potencian las
                    habilidades de programación desde la experiencia y práctica
                    real apta para todos los niveles de conocimiento. Si bien,
                    en principio, no hay talleres propuestos para aprender a
                    programar, con un conocimiento básico de programación y
                    Python se puede aprovechar al máximo. ¿Por qué? Porque vas a
                    tener la oportunidad de trabajar codo a codo con gente que
                    tiene años de experiencia en el tema y poder compartir la
                    resolución de un problema en grupo, entender cómo piensan
                    otros programadores y cómo atacan el problema de diferentes
                    formas. ¿Crees que no tienes el conocimiento suficiente para
                    asistir al evento? ¡No te preocupes, súmate que la vas a
                    pasar genial y vas a aprender un montón de cosas!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link faq-link"
                      type="button"
                      data-target="collapseFive"
                    >
                      ¿Cómo será la política COVID-19 durante el evento?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseFive"
                  class="collapse"
                  aria-labelledby="headingFive"
                  data-parent="#faq"
                >
                  <div class="card-body">
                    <p>
                      Velando por la seguridad de los asistentes cumpliremos las
                      medidas vigentes en España. Muy probablemente deberemos
                      validar que todos los asistentes cumplan como mínimo una de
                      las siguientes opciones:
                    </p>

                    <ul>
                      <li>
                        Pauta de vacunación completa (cómo máximo 6 meses antes
                        del evento)
                      </li>
                      <li>
                        Haber pasado la COVID-19 (cómo máximo 6 meses antes del
                        evento)
                      </li>
                      <li>
                        PCR negativa (cómo máximo 2 días antes del evento)
                      </li>
                    </ul>

                    <p>
                      Nos iremos adaptando a las restricciones conforme se vayan
                      aplicando, esperamos que entendáis que el futuro es incierto
                      y se complica poder vaticinar las restricciones finales. Además,
                      pondremos auto-tests de antígenos a disposición de todos los
                      asistentes, para que al llegar y al salir del PyCamp podamos
                      validar que todos estamos bien.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Masthead -->
    <section class="masthead text-white text-center" id="head">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">
              ¡Suscríbete para recibir las últimas novedades!
            </h1>
          </div>
          <div id="mc_embed_signup" class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form
              action="https://gmail.us20.list-manage.com/subscribe/post?u=14411abdd5b5c38809a459da7&amp;id=ef7898fbc2"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll" class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="form-control form-control-lg"
                    id="mce-EMAIL"
                    placeholder="Ingresa tu email..."
                    required
                  />

                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px;"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_14411abdd5b5c38809a459da7_ef7898fbc2"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <input
                    type="submit"
                    value="Enviar!"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="btn btn-block btn-lg btn-primary"
                  />
                </div>
                <div class="col-12 mb-2 ">
                  <div
                    id="mergeRow-gdpr"
                    class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group"
                  >
                    <div class="content__gdpr mt-3">
                      <h4>Permisos de marketing</h4>
                      <p>
                        Por favor, elige de que forma quieres ser contactado por
                        PyCamp España:
                      </p>
                      <fieldset
                        class="mc_fieldset gdprRequired mc-field-group"
                        name="interestgroup_field"
                      >
                        <label class="checkbox subfield" for="gdpr_32461"
                          ><input
                            type="checkbox"
                            id="gdpr_32461"
                            name="gdpr[32461]"
                            value="Y"
                            class="av-checkbox gdpr form-check-input"
                          /><span>Email</span>
                        </label>
                      </fieldset>
                      <p>
                        <small>
                          Puedes remover tu suscripción cuando lo desees
                          haciendo click en el footer de nuestros emails.
                        </small>
                      </p>
                    </div>
                    <div class="content__gdprLegal">
                      <p>
                        <small>
                          Utilizamos Mailchimp como nuestra plataforma de
                          marketing. Al hacer click en "Enviar", usted reconoce
                          que su información sera enviada a Mailchimp para ser
                          procesada.
                        </small>
                      </p>
                      <p>
                        <small>
                          <a
                            href="https://mailchimp.com/legal/"
                            target="_blank"
                          >
                            Click aquí para más información sobre las prácticas
                            de privacidad Mailchimp
                          </a>
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block extra_footer %}
<script src="../src/index.js"></script>
{% endblock %}
