{% extends 'layout.njk' %}
{% set githubProjects = [
    {
        "description": "What music is people listen to?",
        "name": "geosong",
        "url": "https://github.com/PyCampES/geosong"
    },
    {
        "description": "Manga translation tool",
        "name": "mangapy",
        "url": "https://github.com/PyCampES/mangapy"
    },
    {
        "description": "API para devolver palabras para el juego del Código Secreto",
        "name": "codigosecreto-api",
        "url": "https://github.com/PyCampES/codigosecreto-api"
    },
    {
        "description": "PyCamp challenge game ",
        "name": "pytron",
        "url": "https://github.com/PyCampES/pytron"
    },
    {
        "description": "Un server que habla con el bot de Telegram",
        "name": "moviescore",
        "url": "https://github.com/PyCampES/moviescore"
    },
    {
        "description": "Event manager for local community events",
        "name": "GetTogether",
        "url": "https://github.com/PyCampES/GetTogether"
    },
    {
        "description": "El himno del PyCampES",
        "name": "himno",
        "url": "https://github.com/PyCampES/himno"
    },
    {
        "description": "Primeros pasos con ESP32Home",
        "name": "homecito",
        "url": "https://github.com/PyCampES/homecito"
    },
    {
        "description": "Parse bank data to analyze expenses ",
        "name": "ficamp",
        "url": "https://github.com/PyCampES/ficamp"
    },
    {
        "description": "Map making with wavefunction collapse",
        "name": "wavefunction-mapmaking",
        "url": "https://github.com/PyCampES/wavefunction-mapmaking"
    },
    {
        "description": "PyCamp 2024 Coding Dojos",
        "name": "dojos",
        "url": "https://github.com/PyCampES/dojos"
    },
    {
        "description": "",
        "name": "coche-esp32",
        "url": "https://github.com/PyCampES/coche-esp32"
    },
    {
        "description": "",
        "name": "salary-quiz",
        "url": "https://github.com/PyCampES/salary-quiz"
    },
    {
        "description": "",
        "name": "qr-vcard",
        "url": "https://github.com/PyCampES/qr-vcard"
    },
    {
        "description": "",
        "name": "ornitobeat",
        "url": "https://github.com/PyCampES/ornitobeat"
    },
    {
        "description": "",
        "name": "pgmem",
        "url": "https://github.com/PyCampES/pgmem"
    },
    {
        "description": "",
        "name": "sorting-hat",
        "url": "https://github.com/PyCampES/sorting-hat"
    },
    {
        "description": "",
        "name": "musicBeGone",
        "url": "https://github.com/PyCampES/musicBeGone"
    },
    {
        "description": "",
        "name": "telegram-python-es",
        "url": "https://github.com/PyCampES/telegram-python-es"
    },
    {
        "description": "",
        "name": "taller-django-2023",
        "url": "https://github.com/PyCampES/taller-django-2023"
    },
    {
        "description": "",
        "name": "liveart-2023",
        "url": "https://github.com/PyCampES/liveart-2023"
    },
    {
        "description": "",
        "name": "rgisd",
        "url": "https://github.com/PyCampES/rgisd"
    },
    {
        "description": "",
        "name": "kaggle-rps",
        "url": "https://github.com/PyCampES/kaggle-rps"
    },
    {
        "description": "",
        "name": "PyLaser",
        "url": "https://github.com/PyCampES/PyLaser"
    }
] %}
{% set blogposts = [
    {
        "year": "2022",
        "url": "https://dev.to/laysauchoa/pycamp-2022-going-camping-without-bugs-1ih1",
        "title": "PyCamp 2022 (Laysa Uchoa)"
    },
    {
        "year": "2019",
        "url": "http://blog.taniquetil.com.ar/posts/0779/",
        "title": "PyCamp 2019 (Facundo Batista)"
    },
    {
        "year": "2018",
        "url": "http://blog.taniquetil.com.ar/posts/0759/",
        "title": "PyCamp 2018 (Facundo Batista)"
    },
    {
        "year": "2016",
        "url": "http://pyfound.blogspot.com/2016/04/pycamp-argentina.html",
        "title": "PyCamp Argentina (Python Software Foundation)"
    },
    {
        "year": "2011",
        "url": "http://blog.taniquetil.com.ar/posts/0506/",
        "title": "PyCamp 2011 (Facundo Batista)"
    },
    {
        "year": "2011",
        "url": "http://aplacetospillmybraininto.blogspot.com/2011/03/fui-al-pycamp-2011.html",
        "title": "Fui al PyCamp 2011 (Mateo Bengualid)"
    },
    {
        "year": "2010",
        "url": "http://blog.taniquetil.com.ar/posts/0452/",
        "title": "PyCamp 2010 (Facundo Batista)"
    },
    {
        "year": "2010",
        "url": "http://godiard.blogspot.com/2010/03/en-el-pycamp.html",
        "title": "En el PyCamp (Gonzalo Odiard)"
    },
    {
        "year": "2009",
        "url": "http://blog.taniquetil.com.ar/posts/0404/",
        "title": "PyCamp 2009 (Facundo Batista)"
    },
    {
        "year": "2008",
        "url": "http://blog.taniquetil.com.ar/posts/0329/",
        "title": "PyCamp 2008, Los Cocos, Córdoba (Facundo Batista)"
    }
] %}
{% block content %}
    <section>
        <h1 class="section-title">Ediciones anteriores</h1>
        <style>
          .container {
            display: none;
            flex-direction: column;
            align-items: center;
          }

          .container.active {
            display: flex;
          }

          .main-content {
            display: flex;
            flex-direction: column; /* Stack main content vertically on mobile */
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            gap: 20px;
          }

          .main-photo {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
          }

          .main-photo img {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            height: 600px; /* Fixed height for the main photo */
            margin-bottom: 10px;
            object-fit: cover; /* Maintain aspect ratio and cover the area */
            width: 100%;
          }

          .info {
            width: 100%;
            background-color: #9fd49f; /* Match the green palette */
            border: 1px solid #8cc98c; /* Slightly darker border */
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            color: #4A4A4A;
          }

          .info h2 {
            margin: 0;
            font-size: 28px;
            color: #4A4A4A;
          }

          .info a {
            margin: 5px 0;
            color: #4A4A4A;
            font-size: 20px;
            text-decoration: none;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          .info a:hover {
            color: #e0e0e0; /* Lighter shade on hover */
          }

          .info a i {
            margin-right: 8px; /* Space between icon and text */
            color: #4A4A4A;
          }

          .thumbnails {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap; /* Allow thumbnails to wrap */
            margin-bottom: 20px; /* Space below thumbnails */
          }

          .thumbnail {
            align-items: center;
            background-color: #ccc;
            border-radius: 8px;
            display: flex;
            height: 150px; /* Fixed height for thumbnails */
            justify-content: center;
            margin-bottom: 10px; /* Space below each thumbnail */
            overflow: hidden;
            width: 48%; /* Two thumbnails per row on mobile */
          }

          .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }

          .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 1000;
          }

          .popup {
            max-width: 90%;
            max-height: 90%;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
          }

          .popup img {
            width: 100%;
            height: auto;
          }

          .tables-container {
            display: flex;
            flex-direction: column; /* Stack tables vertically on mobile */
            margin-top: 20px;
          }

          .table-wrapper {
            width: 100%; /* Full width on mobile */
            margin-bottom: 20px; /* Space below each table */
            padding: 20px; /* Space below each table */
          }

          /* Media queries for larger screens */
          @media (min-width: 768px) {
            .main-content {
              flex-direction: row; /* Align items horizontally on larger screens */
              justify-content: space-between;
            }

            .main-photo {
              flex: 1; /* Allow photo to grow */
              min-width: 300px; /* Minimum width for the photo */
            }

            .info {
              flex: 0 0 30%; /* Fixed width for info section */
              min-width: 200px; /* Minimum width for info */
            }

            .thumbnail {
              width: 24%; /* Four thumbnails per row on larger screens */
            }

            .tables-container {
              display: flex;
              flex-direction: column; /* Stack tables vertically on mobile */
              margin-top: 10px;
              justify-content: center; /* Center tables horizontally */
              align-items: center; /* Center tables vertically */
              gap: 10px; /* Reduce the space between tables */
            }

            .table-wrapper {
              width: 80%; /* Reduce the width to make tables narrower */
              max-width: 800px; /* Set a maximum width for larger screens */
              margin-bottom: 10px; /* Reduce space below each table */
              padding: 20px; /* Space below each table */
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visual separation */
              background-color: #f9f9f9; /* Light background for contrast */
              border-radius: 8px; /* Rounded corners */
            }

            /* Media queries for larger screens */
            @media (min-width: 768px) {
              .tables-container {
                flex-direction: row; /* Align tables side by side */
                justify-content: center; /* Center tables horizontally */
                gap: 20px; /* Reduce the space between tables */
              }

              .table-wrapper {
                width: 45%; /* Two tables side by side, narrower width */
                margin-bottom: 10px; /* Reduce space below each table */
                padding: 20px; /* Space below each table */
              }
            }



          }
        </style>
        <!-- Overlay for popup -->
        <div class="overlay" id="overlay">
            <div class="popup">
                <img id="popup-img" src="" alt="Amplified Thumbnail">
            </div>
        </div>
        <!-- Tabs Section -->
        <div class="tabs-wrapper">
            <div class="tabs">
                {% for edition in editions %}
                    <div class="tab {% if loop.first %}active{% endif %}"
                         data-year="{{ edition.year }}"
                         style="font-size: 1em;
                                color: #333">{{ edition.year }}</div>
                {% endfor %}
            </div>
        </div>
        <!-- Dynamic Content Section -->
        {% for edition in editions %}
            <div class="container {% if loop.first %}active{% endif %}"
                 id="year-{{ edition.year }}">
                <div class="main-content">
                    <div class="main-photo">
                        <a href="{{ edition.main_photo_url }}" target="_blank">
                            <img src="{{ edition.main_photo_path }}" alt="Foto Principal">
                        </a>
                    </div>
                    <div class="info">
                        <h2>PyCamp España {{ edition.year }}</h2>
                        <p>{{ edition.dates }}</p>
                        <a href="{{ edition.google_photos_link }}">
                            <i class="fas fa-camera"></i> Ver álbum de fotos
                        </a>
                        <a href="{{ edition.venue_link }}">
                            <i class="fas fa-map-marker-alt"></i> Ver venue
                        </a>
                    </div>
                </div>
                <div class="thumbnails">
                    {% for thumbnail in edition.thumbnails %}
                        <div class="thumbnail">
                            <img src="{{ thumbnail }}" alt="Foto {{ loop.index }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!-- Static Bottom Content Section -->
        <div class="tables-container">
            <div class="table-wrapper" style="flex: 1;">
                <h3 class="text-primary text-center section-title"
                    style="padding-top: 10px;
                           padding-bottom: 10px;
                           margin: 0">Proyectos desarrollados en el PyCamp</h3>
                <div style="max-height: 480px; overflow-y: auto; margin-top: 12px">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in githubProjects %}
                                <tr>
                                    <td>
                                        <a href="{{ project.url }}" target="_blank" style="color: seagreen;">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-wrapper" style="flex: 1;">
                <h3 class="text-primary text-center section-title"
                    style="padding-top: 10px;
                           padding-bottom: 10px;
                           margin: 0">Sobre el origen del PyCamp</h3>
                <p class="mt-2 justified-text" style="font-size: 1.1em;">
                    Desde el 2022 organizamos el PyCamp en España, pero evento se realiza en Argentina desde 2008.
                    Aquí te compartimos algunas historias de capítulos anteriores para entender mejor de que va el PyCamp.
                </p>
                <div style="max-height: 365px; overflow-y: auto; margin-top: 11px">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blogpost in blogposts %}
                                <tr>
                                    <td>{{ blogpost.year }}</td>
                                    <td>
                                        <a href="{{ blogpost.url }}" target="_blank" style="color: seagreen;">{{ blogpost.title }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_footer %}
    <script src="../src/previousEditionsLayout.js"></script>
    <script>
  document.querySelectorAll(".thumbnail img").forEach(img => {
    img.addEventListener("click", function() {
      const overlay = document.getElementById("overlay");
      const popupImg = document.getElementById("popup-img");
      popupImg.src = this.src; // Use the current image's src for the popup
      overlay.style.display = "flex";
    });
  });

  document.getElementById("overlay").addEventListener("click", function() {
    this.style.display = "none";
  });
    </script>
{% endblock %}
