{% extends 'layout.njk' %}
{% set githubProjects = [
    {
        "description": "What music is people listen to?",
        "name": "geosong",
        "url": "https://github.com/PyCampES/geosong"
    },
    {
        "description": "Manga translation tool",
        "name": "mangapy",
        "url": "https://github.com/PyCampES/mangapy"
    },
    {
        "description": "API para devolver palabras para el juego del Código Secreto",
        "name": "codigosecreto-api",
        "url": "https://github.com/PyCampES/codigosecreto-api"
    },
    {
        "description": "PyCamp challenge game ",
        "name": "pytron",
        "url": "https://github.com/PyCampES/pytron"
    },
    {
        "description": "Un server que habla con el bot de Telegram",
        "name": "moviescore",
        "url": "https://github.com/PyCampES/moviescore"
    },
    {
        "description": "Event manager for local community events",
        "name": "GetTogether",
        "url": "https://github.com/PyCampES/GetTogether"
    },
    {
        "description": "El himno del PyCampES",
        "name": "himno",
        "url": "https://github.com/PyCampES/himno"
    },
    {
        "description": "Primeros pasos con ESP32Home",
        "name": "homecito",
        "url": "https://github.com/PyCampES/homecito"
    },
    {
        "description": "Parse bank data to analyze expenses ",
        "name": "ficamp",
        "url": "https://github.com/PyCampES/ficamp"
    },
    {
        "description": "Map making with wavefunction collapse",
        "name": "wavefunction-mapmaking",
        "url": "https://github.com/PyCampES/wavefunction-mapmaking"
    },
    {
        "description": "PyCamp 2024 Coding Dojos",
        "name": "dojos",
        "url": "https://github.com/PyCampES/dojos"
    },
    {
        "description": "",
        "name": "coche-esp32",
        "url": "https://github.com/PyCampES/coche-esp32"
    },
    {
        "description": "",
        "name": "salary-quiz",
        "url": "https://github.com/PyCampES/salary-quiz"
    },
    {
        "description": "",
        "name": "qr-vcard",
        "url": "https://github.com/PyCampES/qr-vcard"
    },
    {
        "description": "",
        "name": "ornitobeat",
        "url": "https://github.com/PyCampES/ornitobeat"
    },
    {
        "description": "",
        "name": "pgmem",
        "url": "https://github.com/PyCampES/pgmem"
    },
    {
        "description": "",
        "name": "sorting-hat",
        "url": "https://github.com/PyCampES/sorting-hat"
    },
    {
        "description": "",
        "name": "musicBeGone",
        "url": "https://github.com/PyCampES/musicBeGone"
    },
    {
        "description": "",
        "name": "telegram-python-es",
        "url": "https://github.com/PyCampES/telegram-python-es"
    },
    {
        "description": "",
        "name": "taller-django-2023",
        "url": "https://github.com/PyCampES/taller-django-2023"
    },
    {
        "description": "",
        "name": "liveart-2023",
        "url": "https://github.com/PyCampES/liveart-2023"
    },
    {
        "description": "",
        "name": "rgisd",
        "url": "https://github.com/PyCampES/rgisd"
    },
    {
        "description": "",
        "name": "kaggle-rps",
        "url": "https://github.com/PyCampES/kaggle-rps"
    },
    {
        "description": "",
        "name": "PyLaser",
        "url": "https://github.com/PyCampES/PyLaser"
    }
] %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-12">
                    <h1 class="text-primary text-center section-title pb-4"
                        style="padding-top: 50px">Ediciones anteriores</h1>
                </div>
                <div class="col col-12 col-sm-8 text-center">
                    <!-- Miniatures of images in 3 rows -->
                    <div class="row">
                        <div class="col-4">
                            <img src="./images/previous/2012.jpg" class="img-fluid" alt="2012" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2012_2.jpg" class="img-fluid" alt="2012 2" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2012_3.jpg" class="img-fluid" alt="2012 3" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="./images/previous/2013_3.jpg" class="img-fluid" alt="2013 3" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2014.jpg" class="img-fluid" alt="2014" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2016.jpg" class="img-fluid" alt="2016" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="./images/previous/2016_2.jpg" class="img-fluid" alt="2016 2" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2019_mendoza_san_rafael.jpeg"
                                 class="img-fluid"
                                 alt="2019 San Rafael Mendoza" />
                        </div>
                        <div class="col-4">
                            <img src="./images/previous/2022.jpg"
                                 class="img-fluid"
                                 alt="2012 El Bosc de la Massana" />
                        </div>
                    </div>
                </div>
                <h3 class="text-primary text-center section-title pb-4"
                    style="padding-top: 50px">
                    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                         alt="GitHub Logo"
                         class="github-logo"
                         style="width: 30px;
                                vertical-align: middle" />
                    Proyectos desarrollados en el PyCamp
                </h3>
                <div class="container mt-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in githubProjects %}
                                <tr>
                                    <td>
                                        <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h3 class="text-primary text-center section-title pb-4"
                    style="padding-top: 50px">Blogposts sobre el PyCamp</h3>
                <h3 class="text-primary text-center section-title pb-4"
                    style="padding-top: 50px">Blogposts sobre el PyCamp</h3>
                <h3 class="text-primary text-center section-title pb-4"
                    style="padding-top: 50px">Blogposts sobre el PyCamp</h3>
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022</td>
                                <td>
                                    <a href="https://dev.to/laysauchoa/pycamp-2022-going-camping-without-bugs-1ih1">PyCamp 2022 (Laysa Uchoa)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0779/">PyCamp 2019 (Facundo Batista)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2018</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0759/">PyCamp 2018 (Facundo Batista)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td>
                                    <a href="http://pyfound.blogspot.com/2016/04/pycamp-argentina.html">PyCamp Argentina (Python Software Foundation)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0506/">PyCamp 2011 (Facundo Batista)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td>
                                    <a href="http://aplacetospillmybraininto.blogspot.com/2011/03/fui-al-pycamp-2011.html">Fui al PyCamp 2011 (Mateo Bengualid)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2010</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0452/">PyCamp 2010 (Facundo Batista)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2010</td>
                                <td>
                                    <a href="http://godiard.blogspot.com/2010/03/en-el-pycamp.html">En el PyCamp (Gonzalo Odiard)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2009</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0404/">PyCamp 2009 (Facundo Batista)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2008</td>
                                <td>
                                    <a href="http://blog.taniquetil.com.ar/posts/0329/">PyCamp 2008, Los Cocos, Córdoba (Facundo Batista)</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_footer %}<script src="../src/previousEditions.js"></script>{% endblock %}
