{% set editions = [
    {
        "year": "2025",
        "title": "PyCamp 2025",
        "main_photo_url": "./images/edition-2025/portada.jpg",
        "venue_link": "TODO",
        "dates": "TODO",
        "google_photos_link": "TODO",
        "projects_link": "TODO",
        "thumbnails": [
            "./images/edition-2025/working1.jpg",
            "./images/edition-2025/working3.jpg",
            "./images/edition-2025/projects1.jpg",
            "./images/edition-2025/working2.jpg"
        ]
    },
    {
        "year": "2024",
        "title": "PyCamp 2024",
        "main_photo_url": "./images/edition-2024/portada.jpg",
        "venue_link": "TODO",
        "dates": "TODO",
        "google_photos_link": "TODO",
        "projects_link": "TODO",
        "thumbnails": [
            "./images/edition-2024/discussion.jpg",
            "./images/edition-2024/gaming1.jpg",
            "./images/edition-2024/project1.jpg",
            "./images/edition-2024/working2.jpg"
        ]
    },
    {
        "year": "2023",
        "title": "PyCamp 2023",
        "main_photo_url": "./images/edition-2023/portada.jpg",
        "venue_link": "TODO",
        "dates": "TODO",
        "google_photos_link": "TODO",
        "projects_link": "TODO",
        "thumbnails": [
            "./images/edition-2023/laser1.jpg",
            "./images/edition-2023/projects1.jpg",
            "./images/edition-2023/projects2.jpg",
            "./images/edition-2023/discussion2.jpg"
        ]
    },
    {
        "year": "2022",
        "title": "PyCamp 2022",
        "main_photo_url": "./images/edition-2022/portada.jpg",
        "venue_link": "TODO",
        "dates": "TODO",
        "google_photos_link": "TODO",
        "projects_link": "TODO",
        "thumbnails": [
            "./images/edition-2022/working2.jpg",
            "./images/edition-2022/working7.jpg",
            "./images/edition-2022/discussion1.jpg",
            "./images/edition-2022/working5.jpg"
        ]
    }
] %}
{% extends 'previous_edition_layout.njk' %}
{% block content %}{{ super() }}{% endblock %}
