{% extends 'layout.njk' %}
{% set githubProjects = [
    {
        "description": "What music is people listen to?",
        "name": "geosong",
        "url": "https://github.com/PyCampES/geosong"
    },
    {
        "description": "Manga translation tool",
        "name": "mangapy",
        "url": "https://github.com/PyCampES/mangapy"
    },
    {
        "description": "API para devolver palabras para el juego del Código Secreto",
        "name": "codigosecreto-api",
        "url": "https://github.com/PyCampES/codigosecreto-api"
    },
    {
        "description": "PyCamp challenge game ",
        "name": "pytron",
        "url": "https://github.com/PyCampES/pytron"
    },
    {
        "description": "Un server que habla con el bot de Telegram",
        "name": "moviescore",
        "url": "https://github.com/PyCampES/moviescore"
    },
    {
        "description": "Event manager for local community events",
        "name": "GetTogether",
        "url": "https://github.com/PyCampES/GetTogether"
    },
    {
        "description": "El himno del PyCampES",
        "name": "himno",
        "url": "https://github.com/PyCampES/himno"
    },
    {
        "description": "Primeros pasos con ESP32Home",
        "name": "homecito",
        "url": "https://github.com/PyCampES/homecito"
    },
    {
        "description": "Parse bank data to analyze expenses ",
        "name": "ficamp",
        "url": "https://github.com/PyCampES/ficamp"
    },
    {
        "description": "Map making with wavefunction collapse",
        "name": "wavefunction-mapmaking",
        "url": "https://github.com/PyCampES/wavefunction-mapmaking"
    },
    {
        "description": "PyCamp 2024 Coding Dojos",
        "name": "dojos",
        "url": "https://github.com/PyCampES/dojos"
    },
    {
        "description": "",
        "name": "coche-esp32",
        "url": "https://github.com/PyCampES/coche-esp32"
    },
    {
        "description": "",
        "name": "salary-quiz",
        "url": "https://github.com/PyCampES/salary-quiz"
    },
    {
        "description": "",
        "name": "qr-vcard",
        "url": "https://github.com/PyCampES/qr-vcard"
    },
    {
        "description": "",
        "name": "ornitobeat",
        "url": "https://github.com/PyCampES/ornitobeat"
    },
    {
        "description": "",
        "name": "pgmem",
        "url": "https://github.com/PyCampES/pgmem"
    },
    {
        "description": "",
        "name": "sorting-hat",
        "url": "https://github.com/PyCampES/sorting-hat"
    },
    {
        "description": "",
        "name": "musicBeGone",
        "url": "https://github.com/PyCampES/musicBeGone"
    },
    {
        "description": "",
        "name": "telegram-python-es",
        "url": "https://github.com/PyCampES/telegram-python-es"
    },
    {
        "description": "",
        "name": "taller-django-2023",
        "url": "https://github.com/PyCampES/taller-django-2023"
    },
    {
        "description": "",
        "name": "liveart-2023",
        "url": "https://github.com/PyCampES/liveart-2023"
    },
    {
        "description": "",
        "name": "rgisd",
        "url": "https://github.com/PyCampES/rgisd"
    },
    {
        "description": "",
        "name": "kaggle-rps",
        "url": "https://github.com/PyCampES/kaggle-rps"
    },
    {
        "description": "",
        "name": "PyLaser",
        "url": "https://github.com/PyCampES/PyLaser"
    }
] %}
{% set blogposts = [
    {
        "year": "2022",
        "url": "https://dev.to/laysauchoa/pycamp-2022-going-camping-without-bugs-1ih1",
        "title": "PyCamp 2022 (Laysa Uchoa)"
    },
    {
        "year": "2019",
        "url": "http://blog.taniquetil.com.ar/posts/0779/",
        "title": "PyCamp 2019 (Facundo Batista)"
    },
    {
        "year": "2018",
        "url": "http://blog.taniquetil.com.ar/posts/0759/",
        "title": "PyCamp 2018 (Facundo Batista)"
    },
    {
        "year": "2016",
        "url": "http://pyfound.blogspot.com/2016/04/pycamp-argentina.html",
        "title": "PyCamp Argentina (Python Software Foundation)"
    },
    {
        "year": "2011",
        "url": "http://blog.taniquetil.com.ar/posts/0506/",
        "title": "PyCamp 2011 (Facundo Batista)"
    },
    {
        "year": "2011",
        "url": "http://aplacetospillmybraininto.blogspot.com/2011/03/fui-al-pycamp-2011.html",
        "title": "Fui al PyCamp 2011 (Mateo Bengualid)"
    },
    {
        "year": "2010",
        "url": "http://blog.taniquetil.com.ar/posts/0452/",
        "title": "PyCamp 2010 (Facundo Batista)"
    },
    {
        "year": "2010",
        "url": "http://godiard.blogspot.com/2010/03/en-el-pycamp.html",
        "title": "En el PyCamp (Gonzalo Odiard)"
    },
    {
        "year": "2009",
        "url": "http://blog.taniquetil.com.ar/posts/0404/",
        "title": "PyCamp 2009 (Facundo Batista)"
    },
    {
        "year": "2008",
        "url": "http://blog.taniquetil.com.ar/posts/0329/",
        "title": "PyCamp 2008, Los Cocos, Córdoba (Facundo Batista)"
    }
] %}
{% block content %}
    <section>
        <style>
          /* Base styles for mobile */
          body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto; /* Allow height to adjust based on content */
          }

          .tabs {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            flex-wrap: wrap; /* Allow wrapping for small screens */
          }

          .tab {
            background-color: #f9f9f9;
            border-radius: 10px;
            border: 1px solid #ddd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 16px; /* Smaller font for mobile */
            margin: 5px; /* Reduced margin for mobile */
            padding: 10px 20px; /* Reduced padding for mobile */
          }

          .tab.active {
            background-color: #ccc;
          }

          .container {
            display: none;
            flex-direction: column;
            align-items: center;
          }

          .container.active {
            display: flex;
          }

          .main-content {
            display: flex;
            flex-direction: column; /* Stack main content vertically on mobile */
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
          }

          .main-photo {
            width: 100%; /* Full width on mobile */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px; /* Space below the main photo */
          }

          .main-photo img {
            width: 100%;
            height: auto; /* Maintain aspect ratio */
            object-fit: cover;
            cursor: pointer;
          }

          .info {
            width: 100%; /* Full width on mobile */
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px; /* Space below info section */
          }

          .info a {
            margin: 5px 0;
            color: seagreen;
            font-size: 18px; /* Smaller font for mobile */
            text-decoration: none;
            transition: color 0.3s ease;
          }

          .info a:hover {
            color: darkgreen;
          }

          .thumbnails {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap; /* Allow thumbnails to wrap */
            margin-bottom: 20px; /* Space below thumbnails */
          }

          .thumbnail {
            width: 48%; /* Two thumbnails per row on mobile */
            height: 150px; /* Fixed height for thumbnails */
            background-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-bottom: 10px; /* Space below each thumbnail */
          }

          .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .tables-container {
            display: flex;
            flex-direction: column; /* Stack tables vertically on mobile */
            margin-top: 20px;
          }

          .table-wrapper {
            width: 100%; /* Full width on mobile */
            margin-bottom: 20px; /* Space below each table */
            padding: 20px; /* Space below each table */
          }

          /* Media queries for larger screens */
          @media (min-width: 768px) {
            .main-content {
              flex-direction: row; /* Align items horizontally on larger screens */
              justify-content: space-between;
            }

            .main-photo {
              flex: 1; /* Allow photo to grow */
              min-width: 300px; /* Minimum width for the photo */
            }

            .info {
              flex: 0 0 30%; /* Fixed width for info section */
              min-width: 200px; /* Minimum width for info */
            }

            .thumbnail {
              width: 24%; /* Four thumbnails per row on larger screens */
            }

            .tables-container {
              flex-direction: row; /* Align tables side by side */
              justify-content: space-between;
            }

            .table-wrapper {
              width: 48%; /* Two tables side by side */
              margin-bottom: 30px;
             padding: 20px; /* Space below each table */
            }
          }
        </style>
        <!-- Tabs Section -->
        <div class="tabs">
            {% for edition in editions %}
                <div class="tab {% if loop.first %}active{% endif %}"
                     data-year="{{ edition.year }}">{{ edition.year }}</div>
            {% endfor %}
        </div>
        <!-- Dynamic Content Section -->
        {% for edition in editions %}
            <div class="container {% if loop.first %}active{% endif %}"
                 id="year-{{ edition.year }}">
                <div class="main-content">
                    <div class="main-photo">
                        <a href="{{ edition.main_photo_url }}" target="_blank">
                            <img src="{{ edition.main_photo_path }}" alt="Foto Principal">
                        </a>
                    </div>
                    <div class="info">
                        <a>Fechas: {{ edition.dates }}</a>
                        <a href="{{ edition.google_photos_link }}">Ver álbum de fotos</a>
                        <a href="{{ edition.venue_link }}">Ver venue</a>
                    </div>
                </div>
                <div class="thumbnails">
                    {% for thumbnail in edition.thumbnails %}
                        <div class="thumbnail">
                            <img src="{{ thumbnail }}" alt="Foto {{ loop.index }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!-- Static Bottom Content Section -->
        <div class="tables-container"
             style="display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap">
            <div class="table-wrapper" style="flex: 1;">
                <h3 class="text-primary text-center section-title"
                    style="padding-top: 10px;
                           padding-bottom: 10px;
                           margin: 0">Proyectos desarrollados en el PyCamp</h3>
                <div style="max-height: 350px; overflow-y: auto; margin-top: 12px">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in githubProjects %}
                                <tr>
                                    <td>
                                        <a href="{{ project.url }}" target="_blank" style="color: seagreen;">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-wrapper" style="flex: 1;">
                <h3 class="text-primary text-center section-title"
                    style="padding-top: 10px;
                           padding-bottom: 10px;
                           margin: 0">Sobre el origen del PyCamp</h3>
                <p class="mt-2 justified-text" style="font-size: 1.1em;">
                    Desde el 2022 organizamos el PyCamp en España, pero evento se realiza en Argentina desde 2008.
                    Aquí te compartimos algunas historias de capítulos anteriores para entender mejor de que va el PyCamp.
                </p>
                <div style="max-height: 260px; overflow-y: auto; margin-bottom: 50px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blogpost in blogposts %}
                                <tr>
                                    <td>{{ blogpost.year }}</td>
                                    <td>
                                        <a href="{{ blogpost.url }}" target="_blank" style="color: seagreen;">{{ blogpost.title }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_footer %}<script src="../src/previousEditionsLayout.js"></script>{% endblock %}
