{% set editions = [
    {
        "year": "2025",
        "main_photo_path": "./images/edition-2025/portada.jpg",
        "main_photo_url": "https://photos.google.com/share/AF1QipPhcmnAJ_UDa4Bkjh1s3y92b5gSgVNQUdbFTDyZZhM8dWXJDYQezxEFpeuTghKBJw/photo/AF1QipP08cT2cA5A7LLFCh3rozEa4jo4SFDHI7O-srmY?key=cU1RQXlobVJlaVZtNDQ2dFJySjZEV0N4VUdXUTJR",
        "venue_link": "https://www.granjaescuelaencinardeescardiel.com",
        "dates": "Del 1 al 4 de Mayo",
        "google_photos_link": "https://photos.app.goo.gl/Lw2M76V2bzYMZoFt6",
        "thumbnails": [
            "./images/edition-2025/working1.jpg",
            "./images/edition-2025/working3.jpg",
            "./images/edition-2025/projects1.jpg",
            "./images/edition-2025/working2.jpg"
        ]
    },
    {
        "year": "2024",
        "main_photo_path": "./images/edition-2024/portada.jpg",
        "main_photo_url": "https://photos.google.com/share/AF1QipPEc9G3QSmvQbt2k_CYDKLgJM16KVScEwtQZ9wWiyNqvOQ23dPpjwV0PzMaZTQwtQ/photo/AF1QipOG5xI_nLg_WIMtvmZ6LD4UecYQExDjuLRJSmft?key=T1BwUjZQb0lhbmczVFAyODE1OHUtdHBWZzJ4SHlR",
        "venue_link": "https://www.casadecoloniesaiguaviva.net",
        "dates": "Del 29 de Marzo al 1 de Abril",
        "google_photos_link": "https://photos.app.goo.gl/gPYLUEzDAokZ4PrQA",
        "thumbnails": [
            "./images/edition-2024/discussion.jpg",
            "./images/edition-2024/gaming1.jpg",
            "./images/edition-2024/project1.jpg",
            "./images/edition-2024/working2.jpg"
        ]
    },
    {
        "year": "2023",
        "main_photo_path": "./images/edition-2023/portada.jpg",
        "main_photo_url": "https://photos.google.com/share/AF1QipP_2_EFAmAIVV5_aYR4hD9XWBzsIMxg2jFtchqVSrJBihWpULzQakyk9Np-ixRtWQ/photo/AF1QipOBQEFsihnQLXR33Ef4CCFkVN5ApYRy7t78kfzq?key=RHF2QW1mR1FkcThtU1JNTGpUYVBuNldFWXhObXlR",
        "venue_link": "https://reservalleure.cat/casa-colonies/el-bosc-de-la-massana",
        "dates": "Del 7 al 10 de Abril",
        "google_photos_link": "https://photos.app.goo.gl/zmtyihL3B3KaBtpF9",
        "thumbnails": [
            "./images/edition-2023/laser1.jpg",
            "./images/edition-2023/projects1.jpg",
            "./images/edition-2023/projects2.jpg",
            "./images/edition-2023/discussion2.jpg"
        ]
    },
    {
        "year": "2022",
        "main_photo_path": "./images/edition-2022/portada.jpg",
        "main_photo_url": "https://photos.google.com/share/AF1QipNFZhnj6NNHm4geMyBHi4-FP_f3w8tKPAQU73qeXjnNvHF56baQEa08WIClPtDcsA/photo/AF1QipN-s6Pc67ovQCggv3edQsWaCPbF98-Gfca6U0j_?key=ZUNLdDVQU2VxdFQ1RF84SExadGQ1cHhaMHc1QUhB",
        "venue_link": "https://reservalleure.cat/casa-colonies/el-bosc-de-la-massana",
        "dates": "Del 15 al 18 de Abril",
        "google_photos_link": "https://photos.app.goo.gl/GSeufqbsjHvXLJxZA",
        "thumbnails": [
            "./images/edition-2022/working2.jpg",
            "./images/edition-2022/working7.jpg",
            "./images/edition-2022/discussion1.jpg",
            "./images/edition-2022/working5.jpg"
        ]
    }
] %}
{% extends 'public/previous_editions_layout.njk' %}
{% block content %}{{ super() }}{% endblock %}
