{% extends 'layout.njk' %}
{% block content %}
    <section id="projects">
        <h1 class="section-title">Proyectos</h1>
        <div class="container py-4">
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-8 justify-content-center">
                    <div>
                        <p>
                            En cada PyCamp se proponen una serie de proyectos o ideas por parte de los participantes, y luego durante el primer día
                            del evento se realiza el cronograma de acuerdo al interés de los asistentes. Así, durante el fin de semana podemos
                            contribuir en los proyectos que nos interesen.
                        </p>
                        <div>
                            <form>
                                <input type="button"
                                       value="Proponer un proyecto o idea"
                                       onclick="window.open ('https://docs.google.com/forms/d/16p8MQf7Iu1AnkaluHZGtzZr_XmtcQ7jBrVYNoTE_leA','_blank')"
                                       class="btn btn-primary btn-lg my-4" />
                            </form>
                        </div>
                        <h3 class="my-4">¿Aún no sabes qué proyecto o idea proponer?</h3>
                        <div>
                            <p>
                            </a>
                            Puedes conocer más proyectos en la sección de
                            <a href="previous_editions.njk">
                                <b>ediciones anteriores</b>
                            </a>.
                            También puedes ver proyectos del PyCamp en Argentina
                            <a href="http://www.python.org.ar/wiki/PyCamp/2019/actividades"
                               target="_blank">
                                <b>2019</b>
                            </a>
                            y
                            <a href="http://www.python.org.ar/wiki/PyCamp/2018/actividades"
                               target="_blank">
                                <b>2018</b>
                            </a>.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Take a look at GSheetReader because Google turned off APIv3 -->
            <!-- https://cloud.google.com/blog/products/g-suite/migrate-your-apps-use-latest-sheets-api -->
            <div class="col-12">
                <h2 class="mt-5 mb-5">Proyectos/Ideas para trabajar en equipo</h2>
                <div class="table-responsive">
                    <table class="table table-striped project-table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Requerimientos</th>
                                <th scope="col">Nivel</th>
                            </tr>
                        </thead>
                        <tbody id="project-rows">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_footer %}<script src="../src/projects.js"></script>{% endblock %}
