{% extends 'layout.njk' %}
{% block content %}
    <section id="what-to-bring">
        <h1 class="section-title">¿Qué llevo?</h1>
        <div class="container py-4">
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-7">
                    <div>{% include "what_to_bring_content.html" %}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_footer %}<script src="../src/whatToBring.js"></script>{% endblock %}
